In [1]:
def to_equalize_number(num):
    
    list1 = list(str(num))
    if len(list1) % 2 != 0:
        list1.insert(0,"0")
    return list1

In [2]:
def extract(l1):
    new_list =[]
    even = 1
    ans = ""
    for num in l1:
        ans += num
        if even % 2 == 0:
            new_list.append(int(ans))
            ans = ""
            even = 0
        even += 1
    return new_list

In [3]:
def multiply(l1,l2):
    l = []
    length_l1 = len(l1)
    for n1 in l1:
        length_l2 = len(l2)

        length_l1 -= 1
        for n2 in l2:
            
            ans = n1 * n2
            length_l2 -= 1
            zero1 = zero(length_l1,length_l2)
            ans = ans * zero1
            l.append(ans)
            
    return l

In [4]:
def zero (length_l1 , length_l2):
    z = "1"
    for i in range(length_l1):
        z += "00"
    for j in range(length_l2):
        z += "00"
    return int(z)

In [23]:
def divide_and_conquer(num1 , num2):
    
    if type(num1) == str or type(num2) == str:
        raise ValueError("Only Integers can be multiply")
    
    n1 = to_equalize_number(num1)
    n2 = to_equalize_number(num2)
    
    print(n1)
    print(n2)
    print("-----")
    
    n1 = extract(n1)
    n2 = extract(n2)
    
    print(n1)
    print(n2)
    print("******")
    
    solution = multiply(n1, n2)
    sol = 0
    print(solution)
    
    print("$$$$$$$")
    
    for ans in solution:
        
        sol +=  ans
        
    return sol

In [24]:
print("Ans : ",divide_and_conquer( 981, 1234))

['0', '9', '8', '1']
['1', '2', '3', '4']
-----
[9, 81]
[12, 34]
******
[1080000, 30600, 97200, 2754]
$$$$$$$
Ans :  1210554